<div class="mt-5">
  <h4 id="notice" class="text-center"><%= notice %></h4>
  <% if !@car_record.active? %>
    <p class="text-center display-4 text-danger">Car is not active. It may be sold!</p>
  <% end %>
</div>
<div class="row p-5">
  <div class="col-md-7 p-4 shadow_block rounded">
    <div id="carouser-image-item" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% if @car_record.images.count > 1 %>
          <li data-target="#carouser-image-item" data-slide-to="0" class="active"></li>
        <% end %>
        <% (1..@car_record.images.count - 1).to_a.each do |index| %>
          <li data-target="#carouser-image-item" data-slide-to="<%= index %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% @car_record.images.each_with_index  do |image, index|
       active_status = index == 0 ? 'active' : '' 
       %>
        <div class="carousel-item <%= active_status %>">
          <%= image_tag(image, :class => "d-block w-100") %>
        </div>
      <% end %>
    </div>
    <% if @car_record.images.count > 1 %>
      <a class="carousel-control-prev" href="#carouser-image-item" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouser-image-item" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    <% end %>
  </div>
</div>
<div class="col-md-4 mt-5 p-3 mb-5 ml-5 car_show_block">
  <div class="rounded bg-white p-3 block-shadow">
    <div class="row">
      <div class="col-md-8">
        <div class="row ml-3 car_title font-weight-bold">
          <%= @car_record.title %>
        </div>
        <div class="row car_price ml-4 font-weight-bold">
          <%= number_to_currency(@car_record.price, :precision => 0) %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pt-3 pb-2 px-1 float-right">
          <%= render 'shared/save_unsave_btn', car_record: @car_record %>
          <div class="d-flex ml-4 mt-5">
            <% if is_admin || is_owner(@car_record.id) %>
              <% if @car_record.active? %>
                <%= link_to(@car_record, method: :delete, data: { confirm: 'Are you sure?' }) do %>
                  <div class="btn btn-outline-danger">
                    Delete
                  </div>
                <% end %>
              <% else %>
                <%= link_to(car_record_activate_path(@car_record.id), method: :post, data: { confirm: 'Are you sure?' }) do %>
                  <div class="btn btn-outline-info">
                    Activate
                  </div>
                <% end %>
              <% end %>
            <% end %>
            <% if is_owner(@car_record.id) && @car_record.active? %>
              <%= link_to(edit_car_record_path(@car_record), class: 'ml-4') do %>
                <div class="btn btn-outline-warning">
                  Edit
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="pt-3 pb-2 px-1 float-right">
          <div class="rounded bg-light text-secondary py-1 px-2 font-weight-bold">
            Views: <%= @car_record.views_count %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-3 description mt-5 bg-light rounded mx-2 block-shadow-lite">
    <%= @car_record.description %>
  </div>
  <div class="mt-5 d-flex flex-row-reverse">
    <% if @car_record.active? && !is_owner(@car_record.id) %>
      <%= link_to(new_order_request_path(@car_record), :class => 'mr-4') do %>
        <div class="btn btn-lg btn-success">
          Request order
        </div>
      <% end %>
    </div>
  <% end %>
</div>
