<!DOCTYPE html>
<html>
  <head>
    <title>Carsstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class='<%= controller.controller_name %>'>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav-style fixed-top">
      <%= link_to 'Car store', main_page_index_path, :class => "navbar-brand" %>
      <%= link_to 'Recently added', car_records_path, :class=>"nav-link" %>
      <div class="ml-auto d-flex">
        <%= link_to 'Add new + ', new_car_record_path, :class=>"nav-link" %>
        <div class="ml-4 my-saved-toggle d-flex align-items-center" id="my-saved-toggle">My saved</div>
      </div>
    </nav>
    <!-- Navbar end -->
    <!-- Embedded card -->
    <div class="d-none embedded-saved-items-list" id="embedded-saved-items-list">
      <div class="position-relative">
        <div class="position-fixed to-save-collection-link p-3">
          <%= link_to 'To collection', saved_collection_show_path %>
        </div>
      </div>
      <div class="p-3">
        <%= render 'shared/car_records_listing', car_records: @car_records_in_saved_collection %>
      </div>
    </div>
    <!-- Embedded card end -->
    <!-- Coverage -->
    <div class="coverage d-none"></div>
    <!-- End coverage -->
    <%= yield %>
  </body>
</html>
