<!DOCTYPE html>
<html>
  <head>
    <title>Carsstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= controller.controller_name %>">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-nav-style fixed-top">
      <%= link_to 'Car store', main_page_index_path, :class => "navbar-brand" %>
      <%= link_to 'Recently added', car_records_path, :class=>"nav-link" %>
      <div class="ml-auto d-flex">
        <div class="navbar-link d-flex align-items-center" id="my-saved-toggle">My saved</div>
        <% if @current_user %>
          <%= link_to 'Sale car', new_car_record_path, :class=>"nav-link" %>
          <% if is_admin%>
            <%= link_to 'Admin panel', admin_path, :class=>"nav-link ml-1 mr-3" %>
          <% end %>
          <div class="btn-group dropdown">
            <div class="navbar-link d-flex align-items-center dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= @current_user.name %> <%= @current_user.surname %>
            </div>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Edit account', edit_user_path, :class=>"dropdown-item text-primary" %>
              <%= link_to 'Logout', logout_path, :class=>"dropdown-item text-primary", method: :delete %>
            </div>
          </div>
        <% else %>
          <%= link_to 'Register', new_user_path, :class=>"nav-link" %>
          <%= link_to 'Login', login_path, :class=>"nav-link" %>
        <% end %>
      </div>
    </nav>
    <!-- Navbar end -->
    <!-- Embedded card -->
    <div class="d-none embedded-saved-items-list" id="embedded-saved-items-list">
      <div class="position-relative">
        <div class="position-fixed to-save-collection-link p-3">
          <%= link_to 'To collection', saved_collection_show_path %>
        </div>
      </div>
      <div class="p-3 embedded-saved-items-list-block">
        <% if @car_records_in_saved_collection.blank? %>
          <div class="container text-center mt-5 pt-5">
            <h5>
              Your collection of saved items is currently empty.
              Add something to it!
            </h5>
          </div>
        <% else %>
          <%= render 'shared/car_records_saved_collection_listing', car_records: @car_records_in_saved_collection %>
        <% end %>
      </div>
    </div>
    <!-- Embedded card end -->
    <!-- Coverage -->
    <div class="coverage d-none"></div>
    <!-- End coverage -->
    <div class="p-5">
      <%= yield %>
    </div>
  </body>
</html>
